/.idea/
/modules/assistant-app/target/
/modules/assistant-api/target/
/modules/assistant-ext/target/
/modules/assistant-ebs/target/
/ffmpeg/
/plugins/
/recent.cfg
/modules/assistant-app/buildNumber.properties